h1 {
    text-align: center;
    align-self: center;
};


.pure-menu-link{
    display: flex;
    justify-content: space-between;
}


.lower-pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pics:hover{
    opacity: .5;
    transition:.5s;

}