h1 {
    text-align: center;
    align-self: center;
};


.pure-menu-link{
    display: flex;
    justify-content: space-between;
}

.test{
    border-color: black;
    border-style: solid;
    border-width: 15px;
    border-style: ridge;
}


.pics{
    display: flex;
    flex-direction: row;
    width:  100px;
    height: 200px;
    object-fit: cover;

}

.pics:hover{
    opacity: .5;
    transition:.5s;

}